body.index {
    background-color: #05376C;
}

img.language {
    max-width:18px;
    max-height:18px;
    width: auto;
    height: auto;
}

.container {
    position: absolute;
    top: 15vh;
}

.card-body {
    background-color: #E5E5E5;
    /*padding: 30px;*/
}

img#logo-sage {
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}

img#logo-fapesp {
    max-width:110px;
    max-height:110px;
    width: auto;
    height: auto;
}

/*
.form-group {
    margin-top: 40px;
}

img#logo-sage {
    position: absolute;
    padding-top: 00px;
    z-index: auto;
}