/* Beatriz, Gabriela */

body.initial, .titulo-pagina-inicial {
    background-color: #05376C;
}

.initial-teste {
	background-color: #05376C;
	position: relative;
}

#linguagem {
	background-color: #05376C;
	height: 30px;
}

nav {
	position: fixed;
}

#menu {
	border: 5px solid black;
}

.titulo-barra-titulo, .figura-barra-titulo, .user-barra-titulo, .nome-barra-titulo {
	background-color: #05376C;
}

.figura-barra-titulo {
	width: 15%;
	margin-left: 15px;
	background-color: #05376C;
}

.titulo-barra-titulo {
	width: 64.2%;
	text-align: center;
}

.logo-fapesp-barra-titulo {
	width: 15%;
}

.titulo-pagina-inicial {
	margin-bottom: 15px;
}

.nome-barra-titulo {
	width: 15%;
}

.nome-barra-titulo p {
	margin-top: 20px;
}

#icone-user {
	width: 70px;
}

.user-barra-titulo {
	width: 4%;
}

#logo-inicial {
	max-width:25px;
	max-height:25px;
}

img.language {
	max-width:18px;
	max-height:18px;
	width: auto;
	height: auto;
}

img#logo-sage {
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}

.container {
    position: absolute;
    top: 15vh;
}

.card-body {
    background-color: #E5E5E5;
    /*padding: 30px;*/
		/* border: 1px solid black; */
}

img#logo-fapesp {
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
		border: 1px;
		/* border: 1px solid black; */
}

#informacoes-home {
background-color: #E5E5E5;
padding-bottom: 10px;
}

.cards-home {
	position: relative;
	display: inline-block;
	margin-left: 11%;
	margin-top: 1%;
	margin-bottom: 2%;
}

#language {
	margin-top: 20px;
}

#alerta-home {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.informacoes-footer {
	width: 100%;
}

#footer {
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#logo-fapesp-footer {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

/* Gustavo */

/*
#option-bar {
	margin: 0px;
	padding: 0px;
	width:auto;
}

#option-bar ul {
	list-style-position: inside;
	list-style-image: none;
	list-style-type: none;
}

#option-bar li {
	float:left;
	display:block;
	list-style-position: inside;
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#option-bar li a{
	margin: 0px;
	color:#000000;
	background-color: rgb(233, 193, 178);
	display:block;
	text-decoration: none;
	width: 150px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	padding-top: 5px;
	padding-bottom: 5px;	
}

#option-bar li a:hover {
	color: #0000FF;
	text-decoration: underline;
}
*/

/*
.form-group {
    margin-top: 40px;
}

img#logo-sage {
    position: absolute;
    padding-top: 00px;
    z-index: auto;
}